@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>HAHAHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHA</p>
<<<<<<< HEAD
    <p>hello</p>
=======
    <p>QQQQQ</p>
    <p>cccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
    <p>yayayayayayaya</p>
>>>>>>> main
    <p>hiiiiiiiiii</p>
</div>
