@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<<<<<<< HEAD
    <p>你好</p>
=======
    <p>HAHAHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHA</p>
<<<<<<< HEAD
    <p>gogogogogogoogogogogg</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>yayayayayayayay</p>
    <p>1233211234567</p>
>>>>>>> origin/willy
=======
<<<<<<< HEAD
    <p>hello</p>
=======
    <p>QQQQQ</p>
    <p>cccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
    <p>yayayayayayaya</p>
>>>>>>> main
    <p>hiiiiiiiiii</p>
    <p>hiiiiiiiiii</p>
    <p>oooooooooooooooooohhhh</p>
    <p>hiiiiiiiiii</p>
>>>>>>> main
</div>
