@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>HAHAHAHAHAHAHAHAHAHAHHAHAHAHAHAHAHA</p>
    <p>glglgoogoasd</p>
    <p>te1232222222</p>
    <p>twq2123dsvkldsnlkg222</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<<<<<<< HEAD
    <p>yayayayayayayay</p>
    <p>1233211234567</p>
>>>>>>> origin/willy
=======
<<<<<<< HEAD
    <p>hello</p>
=======
    <p>QQQQQ</p>
    <p>cccccccccccccccccccccccccccccccccccccccccccccccccccccc</p>
<<<<<<< HEAD
    <p>yayayayayayaya</p>
>>>>>>> main
    <p>hiiiiiiiiii</p>
    <p>hiiiiiiiiii</p>
    <p>oooooooooooooooooohhhh</p>
    <p>hiiiiiiiiii</p>
>>>>>>> main
=======
>>>>>>> 4d262991d7cdd30b66520524b9c1fec45c4b8970
=======
    <p>testtesttest</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> queenie
</div>
